$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
  .navbar{
    background-color:#fff !important;
    border:none;
    .logo-link{
  .logo{
    height:55px;
  }
  }
  }
}

/* Custom page header */
.header {
  padding-bottom:5px;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}
.list-group-item{
  text-transform: uppercase;
}   
canvas{
  width:100%;
}
.nav-pills{
  position:relative;
  top:15px;
  .active{
    a{
      background-color:#fff !important;
      color:#428bca !important;
      border-radius:0;
      border-bottom:1px solid #428bca !important;
    }
  }
  li{
    list-style: none;
    padding-bottom:10px;
    a:hover{
      background-color:#fff !important;
    }
    ul{
      display:none;
      position: absolute;
      width:150px;
      padding:15px 0 0 0;
      li{
        a{
          padding:10px 5px;
        }
      }
    }
  }
  li:hover{
    ul{
      display:block;
    }
  }
}
.list-group{
  transition: all 2.5s ease;
}
.modal.fade{
  display:block;
  opacity:1;
}
.overlay{
  position:absolute;
  background-color:#000;
  width: 100%;
  height: 100%;
  opacity: .5;
}
.modal-dialog{
  margin-top:170px;
  .modal-header{
    border:none;
  }
}
.logo-link{
  cursor:pointer;
}
.form-control{
  border:1px solid #eee;
  box-shadow:none;
}
.form-group{
  margin-bottom: 25px;
}
/*page animations*/

.slide {
    -webkit-transition: -webkit-transform .7s ease-in-out;
    -moz-transition: -moz-transform .7s ease-in-out;
    -o-transition: -o-transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide.ng-enter {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide.ng-enter.ng-enter-active, .slide.ng-leave {
    position: relative;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide.ng-leave.ng-leave-active {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}


/*page animations*/
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
