<div class="row marketing">
<div class="panel panel-default ">
<div class="panel-heading">
<h2>Be the first to create your product</h2>
</div>
<div class="panel-body">
	<!-- collect some product data -->
	<form class="form-horizontal">
		<fieldset>
		<div class="form-group">
			<label for="newhtproduct" class="col-sm-2 control-label">Product name</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="newhtproduct" placeholder="single word description">
		    </div>
		</div>

		<div class="form-group">
			<label for="newhtproduct" class="col-sm-2 control-label">Width</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="newhtproduct" placeholder="width">
		    </div>
		</div>

		<div class="form-group">
			<label for="newhtproduct" class="col-sm-2 control-label">Height</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="newhtproduct" placeholder="height">
		    </div>
		</div>

		<div class="form-group">
			<label for="newhtproduct" class="col-sm-2 control-label">Material</label>
		    <div class="col-sm-10">
		     <select class="form-control">
			  <option>paper</option>
			  <option>plastic</option>
			  <option>wood</option>
			  <option>sheet metal</option>
			  <option>stone</option>
			</select>
		    </div>
		</div>
</fieldset>

<!-- collect some userdata -->
<fieldset>
	<br/>
	<br/>
<div class="form-group">
<label for="firstname" class="col-sm-2 control-label">first name</label>
<div class="col-sm-10">
		      <input type="text" class="form-control" id="firstname" placeholder="first name">
		    </div>
</div>

<div class="form-group">
<label for="lastname" class="col-sm-2 control-label">last name</label>
<div class="col-sm-10">
		      <input type="text" class="form-control" id="lastname" placeholder="last name">
		    </div>
</div>

<div class="form-group">
<label for="email" class="col-sm-2 control-label">Email</label>
<div class="col-sm-10">
		      <input type="email" class="form-control" id="email" placeholder="email">
		    </div>
</div>

<div class="form-group">
<label for="email" class="col-sm-2 control-label">Re-enter email</label>
<div class="col-sm-10">
		      <input type="email" class="form-control" id="email" placeholder="email">
		    </div>
</div>

<div class="form-group">
<label for="password" class="col-sm-2 control-label">Password</label>
<div class="col-sm-10">
		      <input type="password" class="form-control" id="password" placeholder="password">
		    </div>
</div>

<div class="form-group">
<label for="password" class="col-sm-2 control-label">Re-enter password</label>
<div class="col-sm-10">
		      <input type="password" class="form-control" id="repassword" placeholder="password">
		    </div>
</div>


</fieldset>

<!-- collect some bank details -->
<fieldset>
	<br/>
	<br/>
<div class="form-group">
	<label for="password" class="col-sm-2 control-label">Bank Name</label>
<div class="col-sm-10">
		      <input type="text" class="form-control" id="bankname" placeholder="Bank or Buildng Society Name">
		    </div>
</div>

<div class="form-group">
	<label for="businessname" class="col-sm-2 control-label">Business Name</label>
<div class="col-sm-10">
		      <input type="text" class="form-control" id="businessname" placeholder="Business name">
		    </div>
</div>

<div class="form-group">
	<label for="sortcode" class="col-sm-2 control-label">Sort Code</label>
<div class="col-sm-10">
		      <input type="text" class="form-control" id="sortcode" placeholder="Sort Code">
		    </div>
</div>

<div class="form-group">
	<label for="accountnumber" class="col-sm-2 control-label">Account number</label>
<div class="col-sm-10">
		      <input type="text" class="form-control" id="accountnumber" placeholder="Account number">
		    </div>
</div>

<div class="form-group">
	<label for="iban" class="col-sm-2 control-label">IBAN</label>
<div class="col-sm-10">
		      <input type="text" class="form-control" id="iban" placeholder="IBAN number">
		    </div>
</div>

</fieldset>


	</form>

</div>
<div class="panel-footer"><a href="#/address">continue</a></div>
</div>
</div>