<div class="row marketing">
<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" ng-hide="showmodal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="myModalLabel">Handsometoad Dev Team</h6>
      </div>
      <div class="modal-body">
       Sorry, we are still building you a badass site.
      </div>
    </div>
  </div>
</div>

  <p ng-if="loading">Loading...</p>
  <!-- products panel -->
<div class="panel panel-default animate-hide">
<div class="panel-heading"><h2>Create something</h2></div>
<div class="panel-body">
  <div products-directive></div>
  </div>
</div>

  <!-- templates panel -->
<div class="panel panel-default animate-hide">
<div class="panel-heading"><h2>Pick a style</h2></div>
<div class="panel-body">
  <div templates-directive></div>
  </div>
</div>

</div>
