<div class="row marketing">

  <p ng-if="loading">Loading...</p>
  <!-- products panel -->
<div class="panel panel-default animate-hide" ng-hide="templateVisibility">
<div class="panel-heading"><h2>Create something</h2></div>
<div class="panel-body">
  <div products-directive></div>
  </div>
</div>

  <!-- templates panel -->
<div class="panel panel-default animate-hide" ng-show="templateVisibility">
<div class="panel-heading"><h2>Pick a style</h2></div>
<div class="panel-body">
  <div templates-directive></div>
  </div>
</div>

</div>
