<a class="logo-link" ng-click="home()"><img src="images/logo.png" alt="handsometoad logo" class="logo"></a>
<ul class="nav nav-pills pull-right">
          <li class="active"><a ng-click="home()">Create</a>
		<ul>
          <li><a href="#">{{products.title}}</a></li>
          <li><a href="#">{{products.template}}</a></li>
          </ul>
          </li>
          <li><a ng-href="#/sell">Sell</a>
          <ul>
          <li><a href="#">{{products.title}}</a></li>
          <li><a href="#">{{products.template}}</a></li>
          </ul>
          </li>
          <li><a ng-href="#/about">About</a></li>
          <li><a ng-href="#/contact">Contact</a></li>
        </ul>