<div class="row marketing">
<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" ng-hide="showmodal">
  <div class="overlay"></div>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="myModalLabel">Handsometoad Dev Team</h6>
      </div>
      <div class="modal-body">
       Sorry, we are still building you a badass site.
      </div>
    </div>
  </div>
</div>

  <!-- products panel -->
<div class="panel panel-default animate-hide">
<div class="panel-heading"><h2>Choose a product to customise</h2></div>
<div class="panel-body">
  <div sell-products-directive></div>
  </div>
</div>

  <!-- templates panel -->
<div class="panel panel-default animate-hide">
<div class="panel-heading"><h2>Pick a style</h2></div>
<div class="panel-body">
  <div sell-templates-directive></div>
  </div>
</div>

<!-- create new product-->
<div class="panel panel-default animate-hide">
<div class="panel-heading"><h2>Cannot find any inspiration, create your own</h2></div>
<div class="panel-body">
  <div sell-new-product-directive></div>
  </div>
</div>

</div>
